body {
  text-align: center;
  background-color: #011f3f;
}

#level {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

#headline {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 5rem;
  margin: 5px;
  color: #f5e50a;
}
.container {
  display: block;
  width: 50%;
  margin: auto;
}

img {
  height: 90px;
  margin-right: 1rem;
}

.btn {
  margin: 0px;
  display: inline-block;
  height: 200px;
  width: 200px;
  /* border: 10px solid black; */
  border-radius: 20%;
}

.green {
  border-radius: 100% 0% 0% 0%;
  border-top: 10px solid black;
  border-left: 10px solid black;
  /* border-radius: ; */
}

.red {
  border-radius: 0% 100% 0% 0%;
  border-top: 10px solid black;
  border-right: 10px solid black;
}

.yellow {
  border-radius: 0% 0% 0% 100%;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
}

.blue {
  border-radius: 0% 0% 100% 0%;
  border-bottom: 10px solid black;
  border-right: 10px solid black;
}

.gameover {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
