/*****************************************Tag Selectors**********************/
h1  {
    color: red;
    font-size: 100px;
}

img:hover   {
    background-color: yellow;
}
/*
img   {
    background-color: red;
}
*/
/*****************************************Class Selectors**********************/


.bacon  {
    background-color: green;
}

.broccoli   {
    background-color: red;
}

.circular   {
    border-radius: 100%;
}
/*****************************************Id Selectors**********************/

#heading    {
    color: blue;
}