<!-- 
    IMPORTANT !!.
    typing code in markup language like "HTML", markup attribues. 
    written in lowercase with hyphen-separated words.
    example 'class="my-class"'

    Javascript and Vue -> typing code in camelCase
    'class="myClass' or @click="handleClick"

    Vue diffenriate both of these by using the directives like:
    v-bind ":", v-model , v-on "@"
    -----------------------------------------------------------------------------
    IMPORTANT DATA FLOW DIRECTION !!
    always flow from parrent to child.


    
    -----------------------------------------------------------------------------
    IMPORTANT GENERAL-COMPONENTS !!.
    #1.we create a component app.component
    #2.we give it a name (page-viewer) app.component('page-viewer')
    #3.we give it options (with predefined "Vue" keywords) 
    app.component('page-viewer', {
        template: `
            <div>
                <p>{{ message }}</p>
                <p>Count: {{ count }}</p>
            </div>
            `
    
        methods: {
            method1() {

            },
            method2() {

            },
        }
        
        })

    PREDEFINED VUE COMPONENTS KEYWORDS:
    Props:

    "Props" is a predefined keyword in Vue used to define the properties that a component can receive from its parent component.
    Props allow you to pass data from a parent component to a child component.
    By defining props in a child component, you specify the expected data and its types.
    The parent component can then pass values to these props when using the child component in its template.
    ---
    Template:

    "Template" is another predefined keyword in Vue that represents the markup structure of a component.
    The template defines how the component's HTML should be rendered.
    It contains the HTML markup along with Vue directives, expressions, and components.
    The template is where you define the visual structure and behavior of the component.
    
    Vue.component('my-component', {
        props: {
            message: String,
            count: Number
        },
        template: `
            <div>
                <p>{{ message }}</p>
                <p>Count: {{ count }}</p>
            </div>
            `
        });
    ---

------------- javascript template literal ---------------
backticks... ``



------------- raw mustache hiding, v-cloak ---------------
v-cloak attribute is used to hide elements that contain Vue directives 
until the Vue instance has completed compilation. This is helpful 
in preventing the user from seeing the raw mustache template syntax 
before Vue has had a chance to process and render the template.




------------- Conditional rendering v-show ---------------
changes the display style from display block to display none.
so the div will still be there,just not visible.
<div v-if="isVisible">Conditionally rendered div</div>



------------- Conditional rendering v-if ---------------
like a javascript if statement, below will remove the div
<div v-if="isVisible">Conditionally rendered div</div>



------------- Conditional rendering v-if, v-else-if, v-else---------------
like javascript if else statements



------------- 2-way binding v-model ---------------
v-model: This directive is used to create a two-way data binding between an 
input element (like <input>, <select>, or <textarea>) and a Vue.js data property. 
  It is primarily used with form elements to automatically update the Vue data 
  property whenever the value of the input element changes. v-model is essentially a 
  combination of v-bind (for setting the value) and v-on:input (for updating the data when the input changes).
---
v-model, ingen backtics,kun double quotes. 
v-model="greeting"
<input v-model="greeting"/>



------------- 1-way binding v-bind ---------------
v-bind: This directive is used to bind an attribute of an HTML element to a Vue.
js data property or computed property. It creates a one-way data binding from 
the Vue instance to the DOM. You can use it to set attributes like 
src, href, style, class, or any other HTML attributes. The short form for v-bind is :.
---
ingen backticks, kun double quotes.
<img v-bind:src="imageSrc" alt="An image" />

or using the short form
<img :src="imageSrc" alt="An image" />

v-bind:src="picture" v-bind:alt="`${firstName} ${lastName}`"
---------------------------------------------------------------------------------------



---------------- EVENTS ------------------
shorthand: @ 
example @click="doesomething()"
---
example @nameofevent.prevent

example from a form
@submit.prevent is used to prevent the form 
submission from causing a page reload and instead, 
allows you to handle the submission with your custom Vue method.
---------------------------------------------------------------------------------------



---------------- EVENTS - PREVENT -  ------------------
example with @click.prevent : is there to not make the web browser switch pages
like going from"home.html" to "about.html" , and rather stay on index.
html and change the content dynamically.

---------------------------------------------------------------------------------------




---------------- CSS -  ------------------
setting a css class
example from inside a html link : :class="{active: activePage == index}"

--- DYNAMICALLY CHANGE NAVBAR COLOR
below:
first line will be static.
second line v-bind -> navbar-light bg-light if false, or navbar-dark bg-dark is true
<nav
class="navbar navbar-expand-lg"
:class="{'navbar-light bg-light' : !useDarkNavbar, 'navbar-dark bg-dark' : useDarkNavbar}"
>

-- the toggle buttong for navbar color:
@click line is a boolean toggle function.
<button
class="btn btn-primary"
@click.prevent="useDarkNavbar = !useDarkNavbar"
>
Toggle Navbar
</button>

---------------------------------------------------------------------------------------



----------------  Components ------------------
Syntax:
name_of_app.COMPONENT('page-viewer', {

OPTIONS 

})
--

-->
